/* article_product_detail */
.article_product_detail--infomation {
    border: 1px solid rgb(5, 5, 5);
    border-radius: 5px;
    padding: 10px;
  }
  .article_product_detail--infomation-img {
    margin-top: 1rem;
    text-align: center;
  }
  .article_product_detail--infomation-img img {
    width: 400px;
    border-radius: 5px;
  }
  .article_product_detail--infomation-list ul {
    list-style: none;
    margin: 2rem;
  }
  .article_product_detail--infomation-list ul li {
    font-size: 18px;
  }
  .article_product_detail--infomation-description p {
    font-size: 18px;
  }
  .article_product_detail--btn {
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0;
  }
  .article_product_detail--btn button {
    margin-right: 1rem;
    font-size: 18px;
  }
  .article_product_detail--btn a,
  .article_product_detail--btn a i {
    font-size: 18px;
  }
  .article_product_detail--comment {
    margin: 2rem 0;
    border: 1px solid black;
    border-radius: 5px;
  }
  .article_product_detail--comment h2 {
    text-transform: uppercase;
    background-color: rgb(225, 217, 217);
    padding: 1rem 0 1rem 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .article_product_detail--form-comment {
    margin: 2rem;
  }
  .list_item_comment {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
  .list_item_comment span {
    font-size: 1.6rem;
  }
  .list_item_comment span strong {
    font-size: 1.6rem;
  }
  .list_item_comment span em {
    font-size: 1.4rem;
  }
  .article_product_detail--form-comment {
    display: flex;
  }
  .article_product_detail--form-comment input {
    width: 100%;
    font-size: 18px;
    padding: 0 1.5rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid gray;
  }
  
  .article_product_detail--form-comment button {
    font-size: 18px;
    padding: 10px 20px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    background-color: #fff;
  }
  .article_product_detail--alike{
    border: 1px solid black;
    border-radius: 5px;
  }
  .article_product_detail--alike h2{
    text-transform: uppercase;
    background-color: rgb(225, 217, 217);
    padding: 1rem 0 1rem 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .article_product_detail--alike .product_alike {
    margin-left: 3rem;
    
  }
  .product_alike ul li{
    margin-bottom: 1rem;
  
  }
  .product_alike ul li a{
    font-size: 16px;
  }

  .notification_login:hover{
    text-decoration: none;
  }
  .notification_login h2{
    font-size: 18px;
    background-color: rgb(160, 31, 31);
    color: #fff;
    width: 100%;
    text-align: center;
    margin-bottom: 0 !important;
  }